@media screen and (min-width: 581px){
.about-wrapper{
    background: linear-gradient(to bottom, rgb(255, 0, 0, 0.1), rgb(0, 128, 0, 0.1)), url('../images/humphrey-muleba-TejFa7VW5e4-unsplash 1.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-text{
    width: 30%;
    margin: 350px 5% 0 5%;
    color: #fff;
}

.about-text h1{
    font-size: 40px;
    font-weight: 900;
}
.about-text p{
    font-size: 13px;
}
}
@media screen and (max-width: 580px){
.about-wrapper{
    background: linear-gradient(to bottom, rgb(255, 0, 0, 0.1), rgb(0, 128, 0, 0.1)), url('../images/humphrey-muleba-TejFa7VW5e4-unsplash 1.png');
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-text{
    width: 80%;
    margin: 350px auto 0 auto;
    color: #fff;
    text-align: justify;
}

.about-text h1{
    font-size: 30px;
    font-weight: 900;
}
.about-text p{
    font-size: 13px;
}
}