@media screen and (min-width: 580px){
    .flight{
        width: 70%;
        margin: 10px auto;
        border-radius: 20px;
        padding: 20px;
        background-color: #fff;
    }
    
    .flight ul{
        display: flex;
        list-style: none;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    .flight label{
        display: block;
    }

    .flight input{
        border: 1px solid grey;
        padding: 0 15px;
        border-radius: 15px;
    }
    .where-to{
        display: flex;
        justify-content: space-between;
    }
}



@media screen and (max-width: 580px){

    .flight{
        width: 70%;
        margin: 10px auto;
        border-radius: 20px;
        padding: 20px;
        background-color: #fff;
    }

    .flight ul{
        display: block;
        list-style: none;
    }

    .flight label{
        display: block;
    }

    .flight input{
        border: 1px solid grey;
        padding: 0 15px;
        border-radius: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .flight button{
        width: 100%;
        background-color: #2E61E6;
        border-radius: 15px;
        padding: 5px 0;

    }
}