.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* border: 2px solid red; */
  margin: 0px 5%;
}

.footer-items h3 {
  font-weight: 800;
}

.footer-items ul li {
  margin: 10px 0;
  font-size: 80%;
}

.footer-icons{
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.year{
    width: 20%;
    margin: 0 auto;
    font-size: 12px;
}