@media screen and (min-width: 581px){
    .hero-wrapper{
        background: linear-gradient(to bottom, rgb(255, 0, 0, 0.1), rgb(0, 128, 0, 0.1)), url('../images/humphrey-muleba-TejFa7VW5e4-unsplash 1 (1).png');
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .one-step{
        width: 35%;
        margin: 50px auto;
        text-align: center;
        font-family: Circular Std;
        color: #fff;
    }
    
    .one-step h1{
        font-size: 45px;
        font-weight: 900;
    } 
}



@media screen and (max-width: 580px){
    .hero-wrapper{
        background: linear-gradient(to bottom, rgb(255, 0, 0, 0.1), rgb(0, 128, 0, 0.1)), url('../images/humphrey-muleba-TejFa7VW5e4-unsplash 1 (1).png');
        min-height: 100vh;
        width: 100%;
        padding-bottom: 50px;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .one-step{
        width: 58%;
        margin: 50px auto;
        text-align: center;
        font-family: Circular Std;
        color: #fff;
    }

    .one-step h1{
        font-size: 45px;
        font-weight: 900;
    } 
}
