.homenav ul{
    display: flex;
    gap: 30px;
    font-weight: 600;
    /* background-color: #fff;
    width: 30%; */
}

.homenav{
    width: 70%;
    margin: 10px auto -30px auto;
    padding: 20px;

}

.homenav ul li a{
    display: inline-flex;
    gap: 5px;
    color: #fff;
}

.homenav ul li a:active{
    box-shadow: 3px 2px 1px;
    background-color: grey;
}

.homenav .active{
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 7px 16px;
}