@media screen and (min-width: 768px){
    .slope1{
        display: flex;
        gap: 2%;
        height: 250px;
        width: 99%;
        transform: rotate(7deg);
    }
    .slope2{
        margin-top: 150px;
        display: flex;
        gap: 2%;
        height: 250px;
        width: 99%;
        transform: rotate(-7deg);
    }
    
    .slope1 img, .slope2 img{
        width: 15%;
    }
    
    .slope{
        margin: 0 7%;
    }
}


@media screen and (max-width: 580px){
    .slope1{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 4%;
        height: 250px;
        width: 90%;
        transform: rotate(0deg);
        margin: 10px auto;
    }
    .slope2{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 4%;
        height: 250px;
        width: 90%;
        transform: rotate(0deg);
        margin: 10%  auto ;
    }
    
    .slope1 img, .slope2 img{
        width: 30%;
    }
    
    .slope{
        margin: 0 7%;
    } 
}

